.about-page {
  position: relative;
  background-color: rgba(124, 235, 224, 0.9843137255);
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-page .about-content {
  position: relative;
}
.about-page .about-content h1 {
  text-align: center;
}
.about-page .about-content .row {
  align-items: center;
}
.about-page .about-content .logo {
  display: block;
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}
.about-page .about-content .about-info {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 4rem;
  color: #fff;
}
.about-page .about-content .about-info h1 {
  color: #f05757;
}
.about-page .about-content .block-container {
  position: relative;
}
.about-page .about-content .block-1 {
  position: absolute;
  background-color: rgba(4, 36, 33, 0.9843137255);
  top: 5%;
  left: 5%;
  height: 500px;
  width: 500px;
  z-index: 0;
  border-radius: 10px;
  opacity: 0.8;
}
.about-page .about-content .block-2 {
  position: relative;
  background-color: rgba(29, 110, 102, 0.9843137255);
  height: 500px;
  width: 500px;
  z-index: 1;
  border-radius: 10px;
  opacity: 0.8;
}

@media screen and (max-width: 770px) {
  .about-page {
    height: auto;
  }
}