#about {
  min-height: 100dvh;
}
#about .about-info-section {
  background: #34bfb1;
  padding: 3rem;
}
#about .about-info-section .grid-even-columns {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 1rem;
}
#about .about-info-section .grid-even-columns .flow .img-container {
  margin: 0 auto;
  display: grid;
  place-items: center;
}
#about .about-info-section .grid-even-columns .flow .img-container img {
  width: 50%;
}
#about .about-info-section .grid-even-columns .flow .block-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-1 {
  background: #17736a;
  color: #dedede;
  border-radius: 5px;
  grid-area: overlap;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-1 h1 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #f24957;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-1 h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  background-color: #f24957;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-2 {
  background: rgba(4, 36, 33, 0.9843137255);
  border-radius: 5px;
  grid-area: overlap;
  align-self: center;
  justify-self: center;
  left: 50%;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-2 h1 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #f24957;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-2 h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  background-color: #f24957;
}
#about .about-team-section {
  background: #dedede;
  padding: 3rem;
}
#about .about-team-section h1 {
  text-align: center;
  font-size: 3rem;
  color: #f24957;
}
#about .about-team-section .team-grid-even-columns {
  display: grid;
  gap: 2rem;
}
#about .about-team-section .team-grid-even-columns .flow .team-card {
  background: rgba(4, 36, 33, 0.9843137255);
  border-radius: 5px;
  border: #17736a solid 3px;
  padding: 3rem;
}
#about .about-team-section .team-grid-even-columns .flow .team-card h1 {
  color: #dedede;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#about .about-team-section .team-grid-even-columns .flow .team-card h2 {
  margin-bottom: 1rem;
  color: #555;
  text-align: center;
}
#about .about-team-section .team-grid-even-columns .flow .team-card p {
  color: #34bfb1;
}
#about .about-team-section .team-grid-even-columns .flow .team-card .img-container {
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  #about .grid-even-columns {
    grid-template-columns: repeat(2, 1fr);
  }
  #about .grid-even-columns .flow .img-container img {
    width: 80%;
  }
}
@media (min-width: 50em) {
  #about .team-grid-even-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}