.contact-page {
  min-height: 100dvh;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contact-page h1 {
  text-align: center;
  color: #f05757;
}
.contact-page .form-control:focus,
.contact-page .form-select:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(124, 235, 224, 0.9843137255);
}