#contact {
  min-height: 100dvh;
}
#contact .contact-header {
  min-height: 20rem;
  background: #17736a;
  display: grid;
  place-items: center;
}
#contact .contact-header h1 {
  position: relative;
  font-size: 3rem;
  color: #dedede;
}
#contact .contact-header h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  background-color: #dedede;
}
#contact .contact-container {
  padding: 3rem;
}
#contact .contact-container .contact-grid {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact .contact-container .contact-grid input,
#contact .contact-container .contact-grid textarea {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 12px;
  resize: vertical;
}
#contact .contact-container .contact-grid .contact-details {
  margin-bottom: 4rem;
}
@media (min-width: 50em) {
  #contact .contact-container .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}