#about {
  min-height: 100dvh;
}
#about .about-info-section {
  background: #34bfb1;
  padding: 3rem;
}
#about .about-info-section .grid-even-columns {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 1rem;
}
#about .about-info-section .grid-even-columns .flow .img-container {
  width: 350px;
  height: 450px;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
#about .about-info-section .grid-even-columns .flow .block-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-1 {
  background: #17736a;
  color: #dedede;
  border-radius: 5px;
  grid-area: overlap;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-1 h1 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #f24957;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-1 h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  background-color: #f24957;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-2 {
  background: rgba(4, 36, 33, 0.9843137255);
  border-radius: 5px;
  grid-area: overlap;
  align-self: center;
  justify-self: center;
  left: 50%;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-2 h1 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #f24957;
}
#about .about-info-section .grid-even-columns .flow .block-grid .block-2 h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  background-color: #f24957;
}
#about .about-team-section {
  background: #dedede;
  padding: 3rem;
}
#about .about-team-section h1 {
  text-align: center;
  font-size: 3rem;
  color: #f24957;
}
#about .about-team-section .team-grid-even-columns {
  display: grid;
  gap: 2rem;
}
#about .about-team-section .team-grid-even-columns .flow .team-card {
  background: rgba(4, 36, 33, 0.9843137255);
  border-radius: 5px;
  border: #17736a solid 3px;
  padding: 3rem;
}
#about .about-team-section .team-grid-even-columns .flow .team-card h1 {
  color: #dedede;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#about .about-team-section .team-grid-even-columns .flow .team-card h2 {
  margin-bottom: 1rem;
  color: #555;
  text-align: center;
}
#about .about-team-section .team-grid-even-columns .flow .team-card p {
  color: #34bfb1;
}
#about .about-team-section .team-grid-even-columns .flow .team-card .img-container {
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  #about .grid-even-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 50em) {
  #about .team-grid-even-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

#blog {
  min-height: 100dvh;
}
#blog .blog-header {
  min-height: 20rem;
  background: #17736a;
  display: grid;
  place-items: center;
}
#blog .blog-header h1 {
  font-size: 3rem;
  color: #dedede;
}

#contact {
  min-height: 100dvh;
}
#contact .contact-header {
  min-height: 20rem;
  background: #17736a;
  display: grid;
  place-items: center;
}
#contact .contact-header h1 {
  position: relative;
  font-size: 3rem;
  color: #dedede;
}
#contact .contact-header h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  background-color: #dedede;
}
#contact .contact-container {
  padding: 3rem;
}
#contact .contact-container .contact-grid {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact .contact-container .contact-grid input,
#contact .contact-container .contact-grid textarea {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 12px;
  resize: vertical;
}
#contact .contact-container .contact-grid .contact-details {
  margin-bottom: 4rem;
}
@media (min-width: 50em) {
  #contact .contact-container .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer {
  padding: 2em;
  margin-top: auto;
  width: 100%;
  background: #242424;
}
.footer .footer-text {
  text-align: center;
  color: #dedede;
  text-transform: uppercase;
}

#games {
  min-height: 100dvh;
}
#games .games-header {
  min-height: 20rem;
  background: #17736a;
  display: grid;
  place-items: center;
}
#games .games-header h1 {
  font-size: 3rem;
  color: #dedede;
}

#hero {
  min-height: 100dvh;
  background: #34bfb1;
}
#hero .section-header {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.navigation-bar {
  background-color: #242424;
  border-bottom: solid #f24957 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #34bfb1;
  overflow: hidden;
}
.navigation-bar ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navigation-bar ul li {
  list-style: none;
  transition: all 0.3s ease-in-out 0s;
}
.navigation-bar ul li:hover {
  background-color: #555;
  transition: all 0.3s ease-in-out 0s;
}
.navigation-bar ul li a {
  text-decoration: none;
  color: #34bfb1;
  padding: 1rem;
  display: block;
  transition: all 0.3s ease-in-out 0s;
}
.navigation-bar ul li a:hover {
  color: #dedede;
  transition: all 0.3s ease-in-out 0s;
}
.navigation-bar .logo {
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0.5rem;
  color: #f24957;
  transition: all 0.3s ease-in-out 0s;
}
.navigation-bar .logo:hover {
  color: #dedede;
  transition: all 0.3s ease-in-out 0s;
}
.navigation-bar .toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navigation-bar .toggle-button .hamburger-button {
  height: 3px;
  width: 100%;
  background-color: #34bfb1;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .navigation-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation-bar .toggle-button {
    display: flex;
  }
  .navigation-bar .navbar-links {
    display: none;
    width: 100%;
  }
  .navigation-bar .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navigation-bar .navbar-links li {
    text-align: center;
  }
  .navigation-bar .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navigation-bar .navbar-links.active {
    display: flex;
  }
}
#service {
  min-height: 100dvh;
}
#service .service-header {
  min-height: 20rem;
  background: #17736a;
  display: grid;
  place-items: center;
}
#service .service-header h1 {
  font-size: 3rem;
  color: #dedede;
}