.about-page {
  position: relative;
  background-color: #7cebe0fb;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-content {
    position: relative;

    h1 {
      text-align: center;
    }

    .row {
      align-items: center;
    }

    .about-info {
      h1 {
        color: #f05757;
      }
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      z-index: 2;
      padding: 4rem;
      color: #fff;
    }

    .block-container {
      position: relative;
    }

    .block-1 {
      position: absolute;
      background-color: #042421fb;
      top: 5%;
      left: 5%;
      height: 500px;
      width: 500px;
      z-index: 0;
      border-radius: 10px;
      opacity: 0.8;
    }

    .block-2 {
      position: relative;
      background-color: #1d6e66fb;
      height: 500px;
      width: 500px;
      z-index: 1;
      border-radius: 10px;
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 770px) {
  .about-page {
    height: auto;
  }
}
