// Theme colors
$primary: #34bfb1;
$secondary: #f24957;
$tertiary: #042421fb;
$quaternary: #17736a;
$background-color: #242424;
$beamo-white: #dedede;
$beamo-grey: #555;

#about {
  min-height: 100dvh;

  .about-info-section {
    background: $primary;
    padding: 3rem;

    .grid-even-columns {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 3rem;
      padding: 1rem;

      .flow {
        .img-container {
          width: 350px;
          height: 450px;
          margin: 0 auto;
          display: grid;
          place-items: center;
        }
        .block-grid {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: "overlap";

          .block-1 {
            background: #17736a;
            color: $beamo-white;
            border-radius: 5px;
            grid-area: overlap;

            h1 {
              position: relative;
              font-size: 2rem;
              margin-bottom: 2rem;
              color: $secondary;
            }

            h1::after {
              content: "";
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translateX(-50%);
              height: 4px;
              width: 50px;
              background-color: $secondary;
            }
          }

          .block-2 {
            background: #042421fb;
            border-radius: 5px;
            grid-area: overlap;
            align-self: center;
            justify-self: center;
            left: 50%;

            h1 {
              position: relative;
              font-size: 2rem;
              margin-bottom: 2rem;
              color: $secondary;
            }

            h1::after {
              content: "";
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translateX(-50%);
              height: 4px;
              width: 50px;
              background-color: $secondary;
            }
          }
        }
      }
    }
  }

  .about-team-section {
    background: $beamo-white;
    padding: 3rem;

    h1 {
      text-align: center;
      font-size: 3rem;
      color: $secondary;
    }

    .team-grid-even-columns {
      display: grid;
      gap: 2rem;

      .flow {
        .team-card {
          background: $tertiary;
          border-radius: 5px;
          border: $quaternary solid 3px;
          padding: 3rem;

          h1 {
            color: $beamo-white;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
          }

          h2 {
            margin-bottom: 1rem;
            color: $beamo-grey;
            text-align: center;
          }

          p {
            color: $primary;
          }

          .img-container {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  @media (min-width: 50em) {
    .grid-even-columns {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 50em) {
    .team-grid-even-columns {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
