// Theme colors
$primary: #34bfb1;
$secondary: #f24957;
$tertiary: #042421fb;
$quaternary: #17736a;
$background-color: #242424;
$beamo-white: #dedede;
$beamo-grey: #555;

#contact {
  min-height: 100dvh;

  .contact-header {
    min-height: 20rem;
    background: $quaternary;
    display: grid;
    place-items: center;

    h1 {
      position: relative;
      font-size: 3rem;
      color: $beamo-white;
    }

    h1::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      background-color: $beamo-white;
    }
  }

  .contact-container {
    padding: 3rem;

    .contact-grid {
      display: grid;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      text-align: center;

      input,
      textarea {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 5px;
        padding: 12px;
        resize: vertical;
      }

      .contact-details {
        margin-bottom: 4rem;
      }
    }
  }

  @media (min-width: 50em) {
    .contact-container {
      .contact-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
