.contact-page {
  min-height: 100dvh;
  margin-top: 3rem;
  margin-bottom: 3rem;

  h1 {
    text-align: center;
    color: #f05757;
  }

  .form-control:focus,
  .form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: #7cebe0fb;
  }
}
