// Theme colors
$primary: #34bfb1;
$secondary: #f24957;
$tertiary: #042421fb;
$quaternary: #17736a;
$background-color: #242424;
$beamo-white: #dedede;
$beamo-grey: #555;

#hero {
  min-height: 100dvh;
  background: $primary;

  .hero-header {
    min-height: 100dvh;
    display: grid;
    place-items: center;
  }
}
